*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.row{
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  justify-content: space-evenly;
}

.column{
  /* border: 2px solid black; */
  max-width: 25%;
  flex: 25%;
  padding: 2px;
}

.column img{
  /* border: 1px solid black; */
  width: 100%;
  
}


@media screen and (max-width:800px) {
    .column{
      max-width: 50%;
      flex: 50%;
    }
}
@media screen and (max-width: 600px) {
  .column {
    /* -ms-flex: 100%; */
    flex: 100%;
    max-width: 100%;
  }
}